<h1>image Gallery</h1>

<div id="images">
  <%= render @all %>
</div>
<div class="clear"></div>

<%= s3_uploader_form callback_url: listings_url, callback_param: "image[image_url]", id: "myS3Uploader" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>