<h1>image Gallery</h1>

<div id="images">
  <%= render @images %>
</div>
<div class="clear"></div>

<%= s3_uploader_form post: images_url, as: "image[image_url]" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>